以下安装版本只是建议，不一定必须达到这些版本
现在应该没人用太太太旧的库了，所以实践来看多数情况下是只要有相应的库就能运行
pandas~=2.2.0
matplotlib~=3.8.2
numpy~=1.26.3
tensorflow~=2.15.0
scipy~=1.12.0
scikit-learn~=1.4.0
keras~=2.15.0
seaborn~=0.13.1
openpyxl~=3.1.2
mplcyberpunk~=0.7.1
qbstyles~=0.1.4
xgboost~=2.0.3
pip~=23.3.2
wheel~=0.42.0
setuptools~=49.2.1
vmdpy~=0.2
prettytable~=3.9.0